@mixin xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@include lg {
  #Clistswiper {
    background: var(--color-deepbule);
    width: 473px;
    height: 520px;
    margin-top: 50px;
    margin-left: -30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    // background: red;
    margin-bottom: -30px !important;
    flex-direction: column;
    .card {
      width: 350px;
      border-radius: 10px;
      margin: 20px;
      position: relative;
      filter: drop-shadow(0px 3px 2px rgb(0, 0, 0));
      transition: 0.3s;
    }

    .v-sheet.v-card {
      border-radius: 10px;
    }

    .card:hover {
      transform: translateY(-20px);
    }

    .cardBtn {
      position: absolute;
      bottom: 8px;
      right: 10px;
      z-index: 3;
    }

    .sell {
      height: 20px !important;
      line-height: 20px;
      margin-left: auto;
      font-size: 12px;
      font-weight: 500;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid var(--color-white);
    }

    .cardBtn:hover .Btn1Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn:hover .heartNum {
      color: var(--color-lightY) !important;
    }

    .cardBtn2:hover .Btn2Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn3:hover .Btn3Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn4:hover .Btn4Icon {
      color: var(--color-lightY) !important;
    }

    .v-chip__content {
      font-weight: 900;
    }

    .v-chip {
      margin-left: 10px;
      height: 30px !important;
    }

    .hr {
      width: 80%;
      height: 1px;
      background: var(--color-white);
    }

    .card-item {
      width: 100%;
    }

    .cardLine {
      width: 350px;
      height: 340px;
      border: 1px dashed var(--color-white);
      border-radius: 5px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cardLine:hover {
      border: 1px dashed var(--color-lightY);
    }

    .cardLine:hover .addcard {
      border: 1px dashed var(--color-lightY);
      transform: scale(1.1);
      transition: 0.5s;
    }

    .cardLine:hover .addpuls {
      color: var(--color-lightY) !important;
    }

    .heartNum {
      color: white;
      font-weight: 700;
    }

    .addcard {
      border: 1px dashed var(--color-white);
    }

    .addpuls {
      color: var(--color-white) !important;
    }

    .swiper-button-prev {
      position: absolute;
      top: 210px;
      left: 0px;
    }

    .swiper-button-next {
      position: absolute;
      top: 210px;
      right: 0px;
    }
    .card-title {
      text-align: center;
    }
    .v-card__subtitle,
    .v-card__text,
    .v-card__title {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .col-xl,
    .col-xl-auto,
    .col-xl-12,
    .col-xl-11,
    .col-xl-10,
    .col-xl-9,
    .col-xl-8,
    .col-xl-7,
    .col-xl-6,
    .col-xl-5,
    .col-xl-4,
    .col-xl-3,
    .col-xl-2,
    .col-xl-1,
    .col-lg,
    .col-lg-auto,
    .col-lg-12,
    .col-lg-11,
    .col-lg-10,
    .col-lg-9,
    .col-lg-8,
    .col-lg-7,
    .col-lg-6,
    .col-lg-5,
    .col-lg-4,
    .col-lg-3,
    .col-lg-2,
    .col-lg-1,
    .col-md,
    .col-md-auto,
    .col-md-12,
    .col-md-11,
    .col-md-10,
    .col-md-9,
    .col-md-8,
    .col-md-7,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3,
    .col-md-2,
    .col-md-1,
    .col-sm,
    .col-sm-auto,
    .col-sm-12,
    .col-sm-11,
    .col-sm-10,
    .col-sm-9,
    .col-sm-8,
    .col-sm-7,
    .col-sm-6,
    .col-sm-5,
    .col-sm-4,
    .col-sm-3,
    .col-sm-2,
    .col-sm-1,
    .col,
    .col-auto,
    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3,
    .col-2,
    .col-1 {
      padding: 10px;
    }

    .v-card__actions {
      padding-bottom: 10px;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 0;
    }

    .catdBottom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      // background: red;
      margin-top: -20px;
    }

    .nametext {
      text-align: center;
      margin-top: 0;
      color: var(--color-lightY);
      // background: red;
    }
    .goodIcon {
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-lightY);
      h4 {
        line-height: 25px;
        position: relative;
        span {
          position: relative;
          top: 2px;
        }
      }
    }
  }

  .dialogbody {
    width: 800px;
    background: white;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    overflow-y: auto;
  }
}

@include md {
  #Clistswiper {
    background: var(--color-deepbule);
    width: 473px;
    height: 520px;
    margin-top: 50px;
    margin-left: -50px;
    border-radius: 10px;
    position: relative;
    display: flex;
    // background: red;
    flex-direction: column;
    margin-bottom: -50px;
    .card {
      width: 330px;
      border-radius: 10px;
      margin: 20px;
      position: relative;
      filter: drop-shadow(0px 3px 2px rgb(0, 0, 0));
      transition: 0.3s;
    }

    .v-sheet.v-card {
      border-radius: 10px;
    }

    .card:hover {
      transform: translateY(-20px);
    }

    .cardBtn {
      position: absolute;
      bottom: 8px;
      right: 10px;
      z-index: 3;
    }

    .sell {
      height: 20px !important;
      line-height: 20px;
      margin-left: auto;
      font-size: 12px;
      font-weight: 500;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid var(--color-white);
    }

    .cardBtn:hover .Btn1Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn:hover .heartNum {
      color: var(--color-lightY) !important;
    }

    .cardBtn2:hover .Btn2Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn3:hover .Btn3Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn4:hover .Btn4Icon {
      color: var(--color-lightY) !important;
    }

    .v-chip__content {
      font-weight: 900;
    }

    .v-chip {
      margin-left: 10px;
      height: 30px !important;
    }

    .hr {
      width: 80%;
      height: 1px;
      background: var(--color-white);
    }

    .card-item {
      width: 100%;
    }

    .cardLine {
      width: 350px;
      height: 340px;
      border: 1px dashed var(--color-white);
      border-radius: 5px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cardLine:hover {
      border: 1px dashed var(--color-lightY);
    }

    .cardLine:hover .addcard {
      border: 1px dashed var(--color-lightY);
      transform: scale(1.1);
      transition: 0.5s;
    }

    .cardLine:hover .addpuls {
      color: var(--color-lightY) !important;
    }

    .heartNum {
      color: white;
      font-weight: 700;
    }

    .addcard {
      border: 1px dashed var(--color-white);
    }

    .addpuls {
      color: var(--color-white) !important;
    }

    .swiper-button-prev {
      position: absolute;
      top: 210px;
      left: 0px;
    }

    .swiper-button-next {
      position: absolute;
      top: 210px;
      right: 0px;
    }
    .card-title {
      text-align: center;
    }
    .v-card__subtitle,
    .v-card__text,
    .v-card__title {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .col-xl,
    .col-xl-auto,
    .col-xl-12,
    .col-xl-11,
    .col-xl-10,
    .col-xl-9,
    .col-xl-8,
    .col-xl-7,
    .col-xl-6,
    .col-xl-5,
    .col-xl-4,
    .col-xl-3,
    .col-xl-2,
    .col-xl-1,
    .col-lg,
    .col-lg-auto,
    .col-lg-12,
    .col-lg-11,
    .col-lg-10,
    .col-lg-9,
    .col-lg-8,
    .col-lg-7,
    .col-lg-6,
    .col-lg-5,
    .col-lg-4,
    .col-lg-3,
    .col-lg-2,
    .col-lg-1,
    .col-md,
    .col-md-auto,
    .col-md-12,
    .col-md-11,
    .col-md-10,
    .col-md-9,
    .col-md-8,
    .col-md-7,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3,
    .col-md-2,
    .col-md-1,
    .col-sm,
    .col-sm-auto,
    .col-sm-12,
    .col-sm-11,
    .col-sm-10,
    .col-sm-9,
    .col-sm-8,
    .col-sm-7,
    .col-sm-6,
    .col-sm-5,
    .col-sm-4,
    .col-sm-3,
    .col-sm-2,
    .col-sm-1,
    .col,
    .col-auto,
    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3,
    .col-2,
    .col-1 {
      padding: 10px;
    }
    .v-card__actions {
      padding-bottom: 10px;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 0;
    }

    .catdBottom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: -20px;
    }

    .nametext {
      text-align: center;
      margin-top: 0;
      color: var(--color-lightY);
      // background: red;
    }
    .goodIcon {
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-lightY);
      h4 {
        line-height: 25px;
        position: relative;
        span {
          position: relative;
          top: 2px;
        }
      }
    }
  }

  .dialogbody {
    width: 800px;
    background: white;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    overflow-y: auto;
  }
}

@include sm {
  #Clistswiper {
    background: var(--color-deepbule);
    width: 365px;
    // height: 520px;
    margin-top: 60px;
    // margin-left: -30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    // background: green;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -60px;
    .card {
      width: 280px;
      border-radius: 10px;
      margin: 20px;
      position: relative;
      filter: drop-shadow(0px 3px 2px rgb(0, 0, 0));
      transition: 0.3s;
    }

    .v-sheet.v-card {
      border-radius: 10px;
    }

    // .card:hover {
    //   transform: translateY(-20px);
    // }

    .cardBtn {
      position: absolute;
      bottom: 8px;
      right: 10px;
      z-index: 3;
    }

    .sell {
      height: 20px !important;
      line-height: 20px;
      margin-left: auto;
      font-size: 12px;
      font-weight: 500;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid var(--color-white);
    }

    .cardBtn:hover .Btn1Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn:hover .heartNum {
      color: var(--color-lightY) !important;
    }

    .cardBtn2:hover .Btn2Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn3:hover .Btn3Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn4:hover .Btn4Icon {
      color: var(--color-lightY) !important;
    }

    .v-chip__content {
      font-weight: 900;
    }

    .v-chip {
      margin-left: 10px;
      height: 30px !important;
    }

    .hr {
      width: 80%;
      height: 1px;
      background: var(--color-white);
    }

    .card-item {
      width: 100%;
    }

    .cardLine {
      width: 350px;
      height: 340px;
      border: 1px dashed var(--color-white);
      border-radius: 5px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cardLine:hover {
      border: 1px dashed var(--color-lightY);
    }

    .cardLine:hover .addcard {
      border: 1px dashed var(--color-lightY);
      transform: scale(1.1);
      transition: 0.5s;
    }

    .cardLine:hover .addpuls {
      color: var(--color-lightY) !important;
    }

    .heartNum {
      color: white;
      font-weight: 700;
    }

    .addcard {
      border: 1px dashed var(--color-white);
    }

    .addpuls {
      color: var(--color-white) !important;
    }

    .swiper-button-prev {
      position: absolute;
      top: 210px;
      left: 0px;
    }

    .swiper-button-next {
      position: absolute;
      top: 210px;
      right: 0px;
    }
    .card-title {
      text-align: center;
    }
    .v-card__subtitle,
    .v-card__text,
    .v-card__title {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .v-card__actions {
      padding-bottom: 10px;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 0;
    }

    .catdBottom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      margin-top: -25px;
      margin-bottom: 20px;
    }

    .nametext {
      text-align: center;
      margin-top: 0;
      color: var(--color-lightY);
      // background: red;
    }

    .goodIcon {
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-lightY);
      h4 {
        line-height: 25px;
        position: relative;
        span {
          position: relative;
          top: 2px;
        }
      }
    }
    .Ccardcontrnt {
      min-height: 255px;
    }
  }

  .dialogbody {
    width: 800px;
    background: white;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    overflow-y: auto;
  }
}

@include xs {
  #Clistswiper {
    background: var(--color-deepbule);
    width: 100%;
    // height: 520px;
    margin-top: 60px;
    // margin-left: -30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    // background: red;

    flex-direction: column;
    margin-bottom: -60px;
    .card {
      width: 300px;
      border-radius: 10px;
      margin: 20px;
      position: relative;
      filter: drop-shadow(0px 3px 2px rgb(0, 0, 0));
      transition: 0.3s;
    }

    .v-sheet.v-card {
      border-radius: 10px;
    }

    // .card:hover {
    //   transform: translateY(-20px);
    // }

    .cardBtn {
      position: absolute;
      bottom: 8px;
      right: 10px;
      z-index: 3;
    }

    .sell {
      height: 20px !important;
      line-height: 20px;
      margin-left: auto;
      font-size: 12px;
      font-weight: 500;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid var(--color-white);
    }

    .cardBtn:hover .Btn1Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn:hover .heartNum {
      color: var(--color-lightY) !important;
    }

    .cardBtn2:hover .Btn2Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn3:hover .Btn3Icon {
      color: var(--color-lightY) !important;
    }

    .cardBtn4:hover .Btn4Icon {
      color: var(--color-lightY) !important;
    }

    .v-chip__content {
      font-weight: 900;
    }

    .v-chip {
      margin-left: 10px;
      height: 30px !important;
    }

    .hr {
      width: 80%;
      height: 1px;
      background: var(--color-white);
    }

    .card-item {
      width: 100%;
    }

    .cardLine {
      width: 350px;
      height: 340px;
      border: 1px dashed var(--color-white);
      border-radius: 5px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cardLine:hover {
      border: 1px dashed var(--color-lightY);
    }

    .cardLine:hover .addcard {
      border: 1px dashed var(--color-lightY);
      transform: scale(1.1);
      transition: 0.5s;
    }

    .cardLine:hover .addpuls {
      color: var(--color-lightY) !important;
    }

    .heartNum {
      color: white;
      font-weight: 700;
    }

    .addcard {
      border: 1px dashed var(--color-white);
    }

    .addpuls {
      color: var(--color-white) !important;
    }

    .swiper-button-prev {
      position: absolute;
      top: 210px;
      left: 0px;
    }

    .swiper-button-next {
      position: absolute;
      top: 210px;
      right: 0px;
    }
    .card-title {
      text-align: center;
    }
    .v-card__subtitle,
    .v-card__text,
    .v-card__title {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .v-card__actions {
      padding-bottom: 10px;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 0;
    }

    .catdBottom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      margin-top: -25px;
      margin-bottom: 20px;
    }

    .nametext {
      text-align: center;
      margin-top: 0;
      color: var(--color-lightY);
      // background: red;
    }

    .goodIcon {
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-lightY);
      h4 {
        line-height: 25px;
        position: relative;
        span {
          position: relative;
          top: 2px;
        }
      }
    }
    .Ccardcontrnt {
      min-height: 235px;
    }
  }

  .dialogbody {
    width: 800px;
    background: white;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    overflow-y: auto;
  }
}
