@mixin xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@include lg {
  #caseList {
    .NAVbar {
      background-color: var(--color-blue) !important;
    }
    .Ownersolgon {
      // border: 1px solid var(--color-white);
      width: 120px;
      height: 36px;
      position: relative;
      top: 13px;
    }
    .csidebar {
      width: 400px;
      height: 100vh;
      filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
      background: var(--color-blue);
      position: fixed;
      .search {
        width: 210px;
        height: 450px;
        // border: 1px solid red;
        position: relative;
        top: 140px;
        left: 100px;
      }

      // .serchBtnDiv {
      //   // background: red;
      //   position: relative;
      // }

      .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
        border-color: var(--color-white);
      }
      .theme--light.v-input {
        color: var(--color-lightY);
      }
      .theme--light.v-input input,
      .theme--light.v-input textarea {
        color: var(--color-lightY);
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
      }
      .v-text-field fieldset,
      .v-text-field .v-input__control {
        color: var(--color-lightY);
      }
      .searchIcon {
        position: absolute;
        top: 10px;
        left: 0px;
      }
      .v-btn.v-size--default {
        font-size: 20px;
        font-weight: 900;
        color: var(--color-blue);
      }

      .Listbtn {
        width: 100%;
        transition: 0.3s;
        margin-bottom: 20px;
      }
      .Listbtn:hover {
        background-color: var(--color-lightY) !important;
      }

      .theme--light.v-btn.v-btn--has-bg {
        background-color: var(--color-white);
      }
    }
    .contentC {
      width: 75%;
      height: 100vh;
      background: var(--color-deepblue);
      margin-left: 400px;
    }
    .mainC {
      background-color: var(--color-deepblue);
      // border: 1px solid rgba(255, 255, 255, 0.2);
      width: 76.5%;
      height: 100vh;
      margin-left: 450px;
      margin-top: -100vh;
      padding: 3%;
      overflow-y: auto;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      color: var(--color-white);
    }

    .Ccardcontrnt {
      min-height: 215px;
    }
  }
}

@include md {
  #caseList {
    .NAVbar {
      background-color: var(--color-blue) !important;
    }
    .Ownersolgon {
      // border: 1px solid var(--color-white);
      width: 120px;
      height: 36px;
      position: relative;
      top: 13px;
    }
    .csidebar {
      width: 300px;
      height: 100vh;
      filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
      background: var(--color-blue);
      position: fixed;
      .search {
        width: 180px;
        height: 450px;
        // border: 1px solid red;
        position: relative;
        top: 140px;
        left: 60px;
      }

      // .serchBtnDiv {
      //   // background: red;
      //   position: relative;
      // }

      .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
        border-color: var(--color-white);
      }
      .theme--light.v-input {
        color: var(--color-lightY);
      }
      .theme--light.v-input input,
      .theme--light.v-input textarea {
        color: var(--color-lightY);
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
      }
      .v-text-field fieldset,
      .v-text-field .v-input__control {
        color: var(--color-lightY);
      }
      .searchIcon {
        position: absolute;
        top: 10px;
        left: 0px;
      }
      .v-btn.v-size--default {
        font-size: 20px;
        font-weight: 900;
        color: var(--color-blue);
      }

      .Listbtn {
        width: 100%;
        transition: 0.3s;
        margin-bottom: 20px;
      }
      .Listbtn:hover {
        background-color: var(--color-lightY) !important;
      }

      .theme--light.v-btn.v-btn--has-bg {
        background-color: var(--color-white);
      }
    }
    .contentC {
      width: 75%;
      height: 100vh;
      background: var(--color-deepblue);
      margin-left: 400px;
    }
    .mainC {
      background-color: var(--color-deepblue);
      // border: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 100vh;
      margin-left: 300px;
      margin-top: -100vh;
      padding: 3%;
      overflow-y: auto;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;

      color: var(--color-white);
    }

    .Ccardcontrnt {
      min-height: 215px;
    }
  }
}

@include sm {
  #caseList {
    .NAVbar {
      background-color: var(--color-blue) !important;
    }

    .Ownersolgon {
      border: 1px solid var(--color-white);
      width: 85px;
      height: 30px;
      position: relative;
      top: 7px;
    }

    .pullBtn {
      width: 100px;
      height: 17px !important;
      background: var(--color-blue);
      border-radius: 0px 0 10px 10px;
      position: absolute;
      top: 50px;
      left: 10px;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.3));
    }

    .xsMenuIcon {
      font-size: 20px;
      margin-top: 4px;
      position: relative;
      top: 0px;
      cursor: pointer;
    }

    .xsMenuIcon:hover {
      color: var(--color-lightY) !important;
      // border: 1px solid var(--color-lightY) !important;
    }

    .csidebar {
      width: 100%;
      height: 150px;
      top: -100%;
      filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
      background: var(--color-blue) !important;
      position: fixed;
      z-index: 2;

      .serchBtnDiv {
        // background: red;
        position: absolute;
        width: 700px;
        top: -65px;
        left: -65px;
        justify-content: space-around;
        align-items: center;
        display: flex;
      }

      .search {
        width: 130px;
        height: 30px;
        // border: 1px solid red;
        position: relative;
        top: 140px;
        left: 100px;
      }

      .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
        border-color: var(--color-white);
        margin-bottom: 5px;
      }
      .theme--light.v-input {
        color: var(--color-lightY);
      }
      .theme--light.v-input input,
      .theme--light.v-input textarea {
        color: var(--color-lightY);
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
      }
      .v-text-field fieldset,
      .v-text-field .v-input__control {
        color: var(--color-lightY);
        margin-bottom: -5px;
        margin-top: -5px;
      }
      .searchIcon {
        position: absolute;
        top: 10px;
        left: 0px;
      }
      .v-btn.v-size--default {
        font-size: 20px;
        font-weight: 900;
        color: var(--color-blue);
      }

      .Listbtn {
        width: 100px;
        transition: 0.3s;
        font-size: 16px !important;
        height: 25px;
        margin-left: 15px;
        // margin-bottom: -50px;
      }
      .Listbtn:hover {
        background-color: var(--color-lightY) !important;
      }

      .theme--light.v-btn.v-btn--has-bg {
        background-color: var(--color-white);
      }
    }
    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox']:checked + #Csidebar {
      top: 0;
      opacity: 1;
    }

    .contentC {
      height: 100vh;
      background: var(--color-deepblue);
      margin-left: 400px;
    }
    .mainC {
      background-color: var(--color-deepblue);
      // border: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 100vh;
      margin-top: -100vh;
      margin-left: -10px;
      padding: 2%;
      overflow-y: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      color: var(--color-white);
      // background: red;
    }
    .col-xl,
    .col-xl-auto,
    .col-xl-12,
    .col-xl-11,
    .col-xl-10,
    .col-xl-9,
    .col-xl-8,
    .col-xl-7,
    .col-xl-6,
    .col-xl-5,
    .col-xl-4,
    .col-xl-3,
    .col-xl-2,
    .col-xl-1,
    .col-lg,
    .col-lg-auto,
    .col-lg-12,
    .col-lg-11,
    .col-lg-10,
    .col-lg-9,
    .col-lg-8,
    .col-lg-7,
    .col-lg-6,
    .col-lg-5,
    .col-lg-4,
    .col-lg-3,
    .col-lg-2,
    .col-lg-1,
    .col-md,
    .col-md-auto,
    .col-md-12,
    .col-md-11,
    .col-md-10,
    .col-md-9,
    .col-md-8,
    .col-md-7,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3,
    .col-md-2,
    .col-md-1,
    .col-sm,
    .col-sm-auto,
    .col-sm-12,
    .col-sm-11,
    .col-sm-10,
    .col-sm-9,
    .col-sm-8,
    .col-sm-7,
    .col-sm-6,
    .col-sm-5,
    .col-sm-4,
    .col-sm-3,
    .col-sm-2,
    .col-sm-1,
    .col,
    .col-auto,
    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3,
    .col-2,
    .col-1 {
      padding: 5px 0 0 0;
    }
  }
}

@include xs {
  #caseList {
    .NAVbar {
      background-color: var(--color-blue) !important;
    }

    .Ownersolgon {
      border: 1px solid var(--color-white);
      width: 85px;
      height: 30px;
      position: relative;
      top: 7px;
    }

    .pullBtn {
      width: 100px;
      height: 17px !important;
      background: var(--color-blue);
      border-radius: 0px 0 10px 10px;
      position: absolute;
      top: 50px;
      left: 10px;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.3));
    }

    .xsMenuIcon {
      font-size: 20px;
      margin-top: 4px;
      position: relative;
      top: 0px;
      cursor: pointer;
    }

    .xsMenuIcon:hover {
      color: var(--color-lightY) !important;
      // border: 1px solid var(--color-lightY) !important;
    }

    .csidebar {
      width: 400px;
      height: 200px;
      top: -100%;
      filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
      background: var(--color-blue) !important;
      position: fixed;
      z-index: 2;

      .serchBtnDiv {
        // background: red;
        position: absolute;
        width: 300px;
        top: -65px;
        left: -60px;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
      }

      .search {
        width: 130px;
        height: 30px;
        // border: 1px solid red;
        position: relative;
        top: 140px;
        left: 100px;
      }

      .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
        border-color: var(--color-white);
        margin-bottom: 5px;
      }
      .theme--light.v-input {
        color: var(--color-lightY);
      }
      .theme--light.v-input input,
      .theme--light.v-input textarea {
        color: var(--color-lightY);
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
      }
      .v-text-field fieldset,
      .v-text-field .v-input__control {
        color: var(--color-lightY);
        margin-bottom: -5px;
        margin-top: -5px;
      }
      .searchIcon {
        position: absolute;
        top: 10px;
        left: 0px;
      }
      .v-btn.v-size--default {
        font-size: 20px;
        font-weight: 900;
        color: var(--color-blue);
      }

      .Listbtn {
        width: 60px;
        transition: 0.3s;
        font-size: 16px !important;
        height: 25px;
        // margin-bottom: -50px;
      }
      .Listbtn:hover {
        background-color: var(--color-lightY) !important;
      }

      .theme--light.v-btn.v-btn--has-bg {
        background-color: var(--color-white);
      }
    }
    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox']:checked + #Csidebar {
      top: 0;
      opacity: 1;
    }

    .contentC {
      height: 100vh;
      background: var(--color-deepblue);
      margin-left: 400px;
    }
    .mainC {
      background-color: var(--color-deepblue);
      // border: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 100vh;
      margin-top: -100vh;
      padding: 3%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: start;
      color: var(--color-white);
    }
    .col-xl,
    .col-xl-auto,
    .col-xl-12,
    .col-xl-11,
    .col-xl-10,
    .col-xl-9,
    .col-xl-8,
    .col-xl-7,
    .col-xl-6,
    .col-xl-5,
    .col-xl-4,
    .col-xl-3,
    .col-xl-2,
    .col-xl-1,
    .col-lg,
    .col-lg-auto,
    .col-lg-12,
    .col-lg-11,
    .col-lg-10,
    .col-lg-9,
    .col-lg-8,
    .col-lg-7,
    .col-lg-6,
    .col-lg-5,
    .col-lg-4,
    .col-lg-3,
    .col-lg-2,
    .col-lg-1,
    .col-md,
    .col-md-auto,
    .col-md-12,
    .col-md-11,
    .col-md-10,
    .col-md-9,
    .col-md-8,
    .col-md-7,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3,
    .col-md-2,
    .col-md-1,
    .col-sm,
    .col-sm-auto,
    .col-sm-12,
    .col-sm-11,
    .col-sm-10,
    .col-sm-9,
    .col-sm-8,
    .col-sm-7,
    .col-sm-6,
    .col-sm-5,
    .col-sm-4,
    .col-sm-3,
    .col-sm-2,
    .col-sm-1,
    .col,
    .col-auto,
    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3,
    .col-2,
    .col-1 {
      padding: 5px 0 0 0;
    }
  }
}
