@mixin sm {
  @media (main-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    @content;
  }
}

@include lg {
  #ownerPage {
    .NAVbar {
      background-color: var(--color-blue) !important;
    }
    .Usersolgon {
      // border: 1px solid var(--color-white);
      width: 135px;
      height: 36px;
      position: relative;
      top: 13px;
    }

    .sidebar {
      width: 400px;
      height: 100vh;
      filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
      background: var(--color-blue);
      position: fixed;
    }
    .content {
      width: 75%;
      height: 100vh;
      background: var(--color-deepblue);
      margin-left: 400px;
    }
    .avatarSidebar {
      position: relative;
      top: 100px;
      left: 110px;
      width: 180px !important;
      height: 180px !important;
    }

    .avatarSidebar {
      position: relative;
      top: 100px;
      left: 110px;
    }
    .selfmeanu {
      width: 200px;
      height: 500px;
      // border: 1px solid red;
      position: absolute;
      top: 300px;
      left: 100px;

      .memBtn {
        width: 100%;
        height: 45px;
      }

      .memBtn:hover .memIcon {
        color: var(--color-lightY) !important;
      }
      .memBtn:hover a {
        color: var(--color-lightY) !important;
      }
      .mg {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .selfmeanu2 {
      width: 210px;
      height: 450px;
      // border: 1px solid red;
      position: absolute;
      top: 400px;
      left: 100px;
      .meanutitle {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .name {
        border-bottom: 1px solid var(--color-lightY);
        text-align: center;
        padding-bottom: 5px;
        // margin-top: -10px;
      }
      .position {
        background-color: var(--color-white);
        border-radius: 50px;
        height: 28px;
        padding: 5px 10px;
        line-height: 20px;
        font-weight: 700;
      }
      .nameh2 {
        font-size: 30px;
        font-weight: 700;
      }
      .meanu {
        color: var(--color-white);
        margin-top: 10px;
        font-size: 18px;
        .itemIcon {
          position: relative;
          top: -3px;
        }
        .num {
          text-align: right;
          font-weight: 300;
          color: var(--color-lightY);
        }
        .pricetitle {
          border-top: 1px solid var(--color-white);
          text-align: center;
          font-weight: 700;
        }
        .priceMenu {
          // background: red;
          height: 250px;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
    .selfmeanu3 {
      display: none;
    }
  }

  // Ownerself-------------------------
  #ownerself {
    background-color: var(--color-deepblue);
    // border: 1px solid rgba(255, 255, 255, 0.2);
    width: 76.5%;
    height: 95vh;
    margin-left: 450px;
    margin-top: -95vh;
    padding-top: 3%;
    padding-left: 2%;
    overflow-y: auto;
    display: flex;
    justify-content: start;
    color: var(--color-white);
    .ownername {
      height: 100px;
      font-size: 45px;
      font-weight: 600;
      // border: 1px solid white;
      margin-right: 80px;
      position: relative;
      margin-top: 15px;
      color: var(--color-lightY);
    }
    .ownername::after {
      content: '';
      width: 100%;
      height: 65px;
      border-bottom: 1px solid var(--color-lightY);
      margin-right: 30px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .messageIcon {
      color: var(--color-blue) !important;
      background-color: var(--color-lightY);
      position: relative;
      margin-left: -70px;
      width: 60px !important;
      height: 60px !important;
      box-shadow: (0px 5px 5px rgb(0, 0, 0));
      transition: 0.3s;
      .mesicon {
        font-size: 40px;
      }
    }

    .messageIcon:hover {
      transform: translateY(-8px);
      color: var(--color-lightY) !important;
      background-color: var(--color-red);
    }

    .score {
      // border: 1px solid white;
      // width: 900px;
      display: flex;
      flex-wrap: wrap;
      padding-left: 60px;
    }

    .scoreIcon:hover {
      color: var(--color-red) !important;
    }

    .scoreitem {
      width: 200px;
      // border: 1px solid wheat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .num {
      font-size: 45px;
      color: var(--color-lightY);
    }
    .numtitle {
      font-size: 24px;
      margin-top: -5px;
      font-weight: bold;
    }
    .fw-300 {
      font-weight: 300 !important;
    }
    .content {
      position: relative;
      top: 0;
      left: -400px;
      width: 100%;
      height: 150px;
      // background-color: rgb(182, 119, 119);
      .main {
        width: 100%;
        // background-color: rgb(116, 50, 75);
        // 內文字級
        font-size: 24px;
        .pricesdiv {
          border: 1px solid var(--color-white);
          margin-left: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: -3px;
        }
      }
      .editBtn {
        width: 50px !important;
        height: 50px !important;
      }

      .editBtn:hover .editIcon {
        color: var(--color-lightY) !important;
      }
    }
  }
}

@include md {
  #ownerPage {
    .NAVbar {
      background-color: var(--color-blue) !important;
    }
    .Usersolgon {
      // border: 1px solid var(--color-white);
      width: 135px;
      height: 36px;
      position: relative;
      top: 13px;
    }

    .sidebar {
      width: 300px;
      height: 100vh;
      filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
      background: var(--color-blue);
      position: fixed;
      z-index: 1;
    }
    .content {
      width: 75%;
      height: 100vh;
      background: var(--color-deepblue);
      margin-left: 400px;
    }
    .avatarSidebar {
      position: relative;
      top: 150px;
      left: 90px;
      width: 130px !important;
      height: 130px !important;
    }
    .selfmeanu {
      width: 200px;
      height: 500px;
      // border: 1px solid red;
      position: absolute;
      top: 300px;
      left: 50px;

      .memBtn {
        width: 100%;
        height: 45px;
      }

      .memBtn:hover .memIcon {
        color: var(--color-lightY) !important;
      }
      .memBtn:hover a {
        color: var(--color-lightY) !important;
      }
      .mg {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .selfmeanu2 {
      width: 210px;
      height: 450px;
      // border: 1px solid red;
      position: absolute;
      top: 400px;
      left: 50px;
      .meanutitle {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .name {
        border-bottom: 1px solid var(--color-lightY);
        text-align: center;
        padding-bottom: 5px;
        // margin-top: -10px;
      }
      .position {
        background-color: var(--color-white);
        border-radius: 50px;
        height: 28px;
        padding: 5px 10px;
        line-height: 20px;
        font-weight: 700;
      }
      .nameh2 {
        font-size: 30px;
        font-weight: 700;
      }
      .meanu {
        color: var(--color-white);
        margin-top: 10px;
        font-size: 18px;
        .itemIcon {
          position: relative;
          top: -3px;
        }
        .num {
          text-align: right;
          font-weight: 300;
          color: var(--color-lightY);
        }
        .pricetitle {
          border-top: 1px solid var(--color-white);
          text-align: center;
          font-weight: 700;
        }
        .priceMenu {
          // background: red;
          height: 250px;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
    .selfmeanu3 {
      display: none;
    }
  }

  // Ownerself-------------------------
  #ownerself {
    background-color: var(--color-deepblue);
    // border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 95vh;
    margin-left: 295px;
    margin-top: -95vh;
    padding-top: 3%;
    padding-left: 5%;
    overflow-y: auto;
    display: flex;
    justify-content: start;
    color: var(--color-white);
    .ownername {
      height: 100px;
      font-size: 40px;
      font-weight: 600;
      // border: 1px solid white;
      margin-right: 80px;
      position: relative;
      margin-top: 33px;
      color: var(--color-lightY);
    }
    .ownername::after {
      content: '';
      width: 100%;
      height: 65px;
      border-bottom: 1px solid var(--color-lightY);
      margin-right: 30px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .messageIcon {
      color: var(--color-blue) !important;
      background-color: var(--color-lightY);
      position: relative;
      margin-left: -70px;
      margin-top: 8px;
      width: 60px !important;
      height: 60px !important;
      box-shadow: (0px 5px 5px rgb(0, 0, 0));
      transition: 0.3s;
      .mesicon {
        font-size: 40px;
      }
    }

    .messageIcon:hover {
      transform: translateY(-8px);
      color: var(--color-lightY) !important;
      background-color: var(--color-red);
    }

    .score {
      // border: 1px solid white;
      // width: 80%;
      display: flex;
      flex-wrap: wrap;
      padding-left: 50px;
      margin-top: 20px;
    }

    .scoreIcon:hover {
      color: var(--color-red) !important;
    }

    .scoreitem {
      width: 130px;
      // border: 1px solid wheat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .num {
      font-size: 40px;
      color: var(--color-lightY);
    }
    .numtitle {
      font-size: 20px;
      margin-top: -5px;
      font-weight: bold;
    }
    .fw-300 {
      font-weight: 300 !important;
    }
    .content {
      position: relative;
      top: 0;
      left: -400px;
      width: 100%;
      height: 150px;
      // background-color: rgb(182, 119, 119);
      .main {
        width: 100%;
        // background-color: rgb(116, 50, 75);
        // 內文字級
        font-size: 20px;
        .pricesdiv {
          border: 1px solid var(--color-white);
          margin-left: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: -3px;
        }
      }
      .editBtn {
        width: 50px !important;
        height: 50px !important;
      }

      .editBtn:hover .editIcon {
        color: var(--color-lightY) !important;
      }
    }
  }
}

@mixin sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@include xs {
  #ownerPage {
    .Usersolgon {
      border: 1px solid var(--color-white);
      width: 85px;
      height: 30px;
      position: relative;
      top: 7px;
    }

    .pullBtn {
      width: 100px;
      height: 17px !important;
      background: var(--color-blue);
      border-radius: 0px 0 10px 10px;
      position: absolute;
      top: 50px;
      left: 10px;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.3));
    }

    .xsMenuIcon {
      font-size: 20px;
      margin-top: 4px;
      position: relative;
      top: 0px;
      cursor: pointer;
    }

    .xsMenuIcon:hover {
      color: var(--color-lightY) !important;
      // border: 1px solid var(--color-lightY) !important;
    }

    .avatarSidebar {
      position: relative;
      top: 150px;
      left: 90px;
      width: 60px !important;
      height: 60px !important;
    }

    .sidebar {
      width: 400px;
      height: 200px;
      top: -100%;
      filter: drop-shadow(0px 5px 3px rgb(0, 0, 0));
      background: var(--color-blue) !important;
      position: fixed;
      z-index: 1;
    }

    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox']:checked + #OwnerPageSIderbar {
      top: 0;
      opacity: 1;
    }

    // .content {
    //   width: 100%;
    //   height: 100vh;
    //   background: var(--color-deepblue);
    //   margin-left: 0;
    // }
    .avatarSidebar-xs {
      position: relative;
      top: 85px;
      left: 30px;
    }
    .selfmeanu {
      width: 250px;
      // height: 150px;
      // border: 1px solid red;
      position: absolute;
      top: 70px;
      left: 110px;

      .selfmeanuUl {
        display: flex;
        flex-wrap: wrap;
      }

      .memBtn {
        width: 110px;
        height: 35px;
        margin-bottom: 5px;
        margin-left: 10px;
        .ctext2 {
          font-size: 1rem;
        }
      }

      .memBtn:hover .memIcon {
        color: var(--color-lightY) !important;
      }
      .memBtn:hover a {
        color: var(--color-lightY) !important;
      }
      .mg {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .selfmeanu2 {
      display: none;
    }
    .selfmeanu3 {
      width: 339px;
      background: var(--color-deepblue);
      // border: 1px solid red;
      position: absolute;
      top: 110px;
      left: 10px;
      display: flex;
      align-items: flex-start;
      z-index: -1;
      .meanutitle {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .name {
        border-bottom: 1px solid var(--color-lightY);
        text-align: center;
        padding-bottom: 2px;
        margin-right: 0px;
        margin-top: 41px;
        margin-left: 10px;
        width: 80px;
      }

      .score {
        // background: red;
        margin-left: 25px;
        .itemIcon {
          position: relative;
          top: -2px;
          font-size: 16px;
        }
        .num {
          text-align: right;
          font-weight: 300;
          margin-left: -15px;
          color: var(--color-lightY);
          // background: red;
        }
      }

      .nameh2 {
        font-size: 18px;
        font-weight: 700;
      }
      .meanu {
        width: 180px;
        // margin-left: 15px;
        font-size: 18px;
        color: var(--color-white);
        // background: red;

        .pricetitle {
          text-align: center;
          font-weight: 700;
          margin-top: -14px;
          margin-bottom: -8px;
        }
        .priceMenu {
          // background: red;
          height: 80px;
          font-size: 16px;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
  }

  // Ownerself-------------------------
  #ownerself {
    background-color: var(--color-deepblue);
    // border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 95vh;
    // margin-left: 450px;
    margin-top: -95vh;
    padding: 12%;
    overflow-y: auto;
    display: flex;
    justify-content: start;
    color: var(--color-white);
    position: relative;
    .ownername {
      height: 100px;
      font-size: 25px;
      font-weight: 600;
      // border: 1px solid white;
      margin-right: 10px;
      position: relative;
      margin-top: 15px;
      color: var(--color-lightY);
    }
    .ownername::after {
      content: '';
      width: 100%;
      height: 40px;
      border-bottom: 1px solid var(--color-lightY);
      margin-right: 30px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .messageIcon {
      color: var(--color-blue) !important;
      background-color: var(--color-lightY);
      position: relative;
      margin-left: -5px;
      margin-top: -10px;
      margin-right: -5px;
      width: 40px !important;
      height: 40px !important;
      box-shadow: (0px 5px 5px rgb(0, 0, 0));
      transition: 0.3s;
      .mesicon {
        font-size: 25px;
      }
    }

    .messageIcon:hover {
      transform: translateY(-8px);
      color: var(--color-lightY) !important;
      background-color: var(--color-red);
    }

    .score {
      // border: 1px solid white;
      // width: 900px;
      margin-top: 35px;
      display: flex;
      // flex-wrap: wrap;
      padding-left: 0px;
    }

    .scoreIcon:hover {
      color: var(--color-red) !important;
    }

    .scoreitem {
      width: 40px;
      // border: 1px solid wheat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: 5px;
    }
    .num {
      font-size: 25px;
      color: var(--color-lightY);
    }
    .numtitle {
      display: none;
    }
    .fw-300 {
      font-weight: 300 !important;
    }
    .content {
      // position: relative;
      // top: 0;
      // left: -400px;
      // width: 100%;
      // height: 150px;
      // background-color: rgb(182, 119, 119);
      .main {
        // width: 100%;
        // background-color: rgb(116, 50, 75);
        // 內文字級
        font-size: 16px;
        .pricesdiv {
          border: 1px solid var(--color-white);
          margin-left: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: -3px;
        }
      }
      .editBtn {
        width: 45px !important;
        height: 45px !important;
        position: absolute;
        top: 18px;
        right: 0;
      }

      .editBtn:hover .editIcon {
        color: var(--color-lightY) !important;
      }
    }
  }
}
