#protfolioPage {
  background-color: var(--color-deepblue);
  // border: 1px solid rgba(255, 255, 255, 0.2);
  width: 76.5%;
  height: 95vh;
  margin-left: 450px;
  margin-top: -95vh;
  padding-top: 3%;
  padding-left: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: start;
  color: var(--color-white);
  .username {
    height: 100px;
    font-size: 45px;
    font-weight: 600;
    // border: 1px solid white;
    margin-right: 30px;
    position: relative;
    margin-top: 15px;
    color: var(--color-lightY);
  }
  .username::after {
    content: '';
    width: 100%;
    height: 65px;
    border-bottom: 1px solid var(--color-lightY);
    margin-right: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .fw-300 {
    font-weight: 300 !important;
  }
  .content {
    position: relative;
    width: 92%;
    top: 0;
    left: -400px;
    height: 150px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    // background-color: rgb(182, 119, 119);
    .tag {
      height: 20px;
      font-size: 20px;
      border: 1px solid var(--color-white);
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin-right: 15px;
      margin-top: 36px;
    }
    .cardBtn {
      position: relative;
      top: 0px;
      right: 10px;
      margin-top: 38px;
      margin-left: auto;
    }
    .heartNum {
      color: white;
      font-weight: 700;
      font-size: 20px;
    }

    .cardBtn:hover .heartNum {
      color: var(--color-lightY) !important;
    }

    .cardBtn:hover .Btn1Icon {
      color: var(--color-lightY) !important;
    }

    .main {
      // background-color: rgb(116, 50, 75);
      // 內文字級
      position: relative;
      font-size: 24px;
      .leftcol {
        width: 30vw !important;
      }
      .textleft {
        width: 130px;
      }
      .textright {
        width: 500px;
        margin-right: 20px;
      }
    }
  }
}
