#userself {
  background-color: var(--color-deepblue);
  // border: 1px solid rgba(255, 255, 255, 0.2);
  width: 76.5%;
  height: 95vh;
  margin-left: 450px;
  margin-top: -95vh;
  padding-top: 3%;
  padding-left: 2%;
  overflow-y: auto;
  display: flex;
  justify-content: start;
  color: var(--color-white);
  .username {
    height: 100px;
    font-size: 45px;
    font-weight: 600;
    // border: 1px solid white;
    margin-right: 80px;
    position: relative;
    margin-top: 15px;
    color: var(--color-lightY);
  }
  .username::after {
    content: '';
    width: 100%;
    height: 65px;
    border-bottom: 1px solid var(--color-lightY);
    margin-right: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .messageIcon {
    color: var(--color-blue) !important;
    background-color: var(--color-lightY);
    position: relative;
    margin-left: -70px;
    width: 60px !important;
    height: 60px !important;
    box-shadow: (0px 5px 5px rgb(0, 0, 0));
    transition: 0.3s;
  }

  .messageIcon:hover {
    transform: translateY(-8px);
    color: var(--color-lightY) !important;
    background-color: var(--color-red);
  }

  .score {
    // border: 1px solid white;
    // width: 900px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
  }

  .scoreIcon:hover {
    color: var(--color-red) !important;
  }

  .scoreitem {
    width: 200px;
    // border: 1px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .num {
    font-size: 45px;
    color: var(--color-lightY);
  }
  .numtitle {
    font-size: 24px;
    margin-top: -5px;
    font-weight: bold;
  }
  .fw-300 {
    font-weight: 300 !important;
  }
  .content {
    position: relative;
    top: 0;
    left: -400px;
    width: 100%;
    height: 150px;
    // background-color: rgb(182, 119, 119);
    .main {
      width: 100%;
      // background-color: rgb(116, 50, 75);
      // 內文字級
      font-size: 24px;
      .pricesdiv {
        border: 1px solid var(--color-white);
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -3px;
      }
    }
    .editBtn {
      width: 50px !important;
      height: 50px !important;
    }

    .editBtn:hover .editIcon {
      color: var(--color-lightY) !important;
    }
  }
}
